@model Foo

@{ ViewBag.Title = "Create"; }

<h2>Create</h2>

@using (Html.BeginForm())
{
<table>
    <tr>
        <td>
            Titulo
        </td>
        <td>
            @Html.TextBoxFor(m => m.Title)
        </td>
    </tr>
    <tr>
        <td>
            Descrição
        </td>
        <td>
            @Html.TextBoxFor(m => m.Description)
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="Salvar" />
        </td>
    </tr>
</table>
}
